<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assignments</key>
	<array/>
	<key>needsAdditionalLinkSeparator</key>
	<false/>
	<key>relatedBooks</key>
	<array/>
	<key>sections</key>
	<array>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40009664</string>
			<key>href</key>
			<string>index.html#section=Resource+Types</string>
			<key>isPart</key>
			<false/>
			<key>sections</key>
			<array>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40009623</string>
					<key>href</key>
					<string>index.html#section=Resource+Types&amp;topic=Coding+How-Tos</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Coding How-Tos</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40009619</string>
					<key>href</key>
					<string>index.html#section=Resource+Types&amp;topic=Getting+Started</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Getting Started</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40009615</string>
					<key>href</key>
					<string>index.html#section=Resource+Types&amp;topic=Guides</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Guides</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40009620</string>
					<key>href</key>
					<string>index.html#section=Resource+Types&amp;topic=Reference</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Reference</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40009613</string>
					<key>href</key>
					<string>index.html#section=Resource+Types&amp;topic=Release+Notes</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Release Notes</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40009616</string>
					<key>href</key>
					<string>index.html#section=Resource+Types&amp;topic=Sample+Code</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Sample Code</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40009614</string>
					<key>href</key>
					<string>index.html#section=Resource+Types&amp;topic=Technical+Notes</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Technical Notes</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40009617</string>
					<key>href</key>
					<string>index.html#section=Resource+Types&amp;topic=Technical+Q%26amp%3BAs</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Technical Q&amp;As</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40009624</string>
					<key>href</key>
					<string>index.html#section=Resource+Types&amp;topic=Video</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Video</string>
				</dict>
			</array>
			<key>title</key>
			<string>Resource Types</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40007353</string>
			<key>href</key>
			<string>index.html#section=Topics</string>
			<key>isPart</key>
			<false/>
			<key>sections</key>
			<array>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40007356</string>
					<key>href</key>
					<string>index.html#section=Topics&amp;topic=Audio+%26amp%3B+Video</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Audio &amp; Video</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40007359</string>
					<key>href</key>
					<string>index.html#section=Topics&amp;topic=Data+Management</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Data Management</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40008034</string>
					<key>href</key>
					<string>index.html#section=Topics&amp;topic=General</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>General</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40007368</string>
					<key>href</key>
					<string>index.html#section=Topics&amp;topic=Graphics+%26amp%3B+Animation</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Graphics &amp; Animation</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40008662</string>
					<key>href</key>
					<string>index.html#section=Topics&amp;topic=Mathematical+Computation</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Mathematical Computation</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40007372</string>
					<key>href</key>
					<string>index.html#section=Topics&amp;topic=Networking+%26amp%3B+Internet</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Networking &amp; Internet</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40007376</string>
					<key>href</key>
					<string>index.html#section=Topics&amp;topic=Performance</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Performance</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40007378</string>
					<key>href</key>
					<string>index.html#section=Topics&amp;topic=Security</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Security</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40008666</string>
					<key>href</key>
					<string>index.html#section=Topics&amp;topic=Tools+%26amp%3B+Languages</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Tools &amp; Languages</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40007379</string>
					<key>href</key>
					<string>index.html#section=Topics&amp;topic=User+Experience</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>User Experience</string>
				</dict>
			</array>
			<key>title</key>
			<string>Topics</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40007354</string>
			<key>href</key>
			<string>index.html#section=Frameworks</string>
			<key>isPart</key>
			<false/>
			<key>sections</key>
			<array>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40008035</string>
					<key>href</key>
					<string>index.html#section=Frameworks&amp;topic=Cocoa+Touch+Layer</string>
					<key>isPart</key>
					<false/>
					<key>sections</key>
					<array>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40007396</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=AddressBookUI</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>AddressBookUI</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40009696</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=EventKitUI</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>EventKitUI</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008270</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=GameKit</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>GameKit</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40009764</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=iAd</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>iAd</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008224</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=MapKit</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>MapKit</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008231</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=MessageUI</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>MessageUI</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40007403</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=UIKit</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>UIKit</string>
						</dict>
					</array>
					<key>title</key>
					<string>Cocoa Touch Layer</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40008036</string>
					<key>href</key>
					<string>index.html#section=Frameworks&amp;topic=Media+Layer</string>
					<key>isPart</key>
					<false/>
					<key>sections</key>
					<array>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40009725</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=AssetsLibrary</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>AssetsLibrary</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40007383</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=AudioToolbox</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>AudioToolbox</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40007395</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=AudioUnit</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>AudioUnit</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008075</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=AVFoundation</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>AVFoundation</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40007393</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=CoreAudio</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>CoreAudio</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40007391</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=CoreGraphics</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>CoreGraphics</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008717</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=CoreMIDI</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>CoreMIDI</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40009347</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=CoreText</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>CoreText</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40009874</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=CoreVideo</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>CoreVideo</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40009873</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=ImageIO</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>ImageIO</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40007388</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=MediaPlayer</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>MediaPlayer</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008271</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=OpenAL</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>OpenAL</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40007387</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=OpenGLES</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>OpenGLES</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40007386</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=QuartzCore</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>QuartzCore</string>
						</dict>
					</array>
					<key>title</key>
					<string>Media Layer</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40008037</string>
					<key>href</key>
					<string>index.html#section=Frameworks&amp;topic=Core+Services+Layer</string>
					<key>isPart</key>
					<false/>
					<key>sections</key>
					<array>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40007397</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=AddressBook</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>AddressBook</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40007394</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=CFNetwork</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>CFNetwork</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008375</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=CoreData</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>CoreData</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40007392</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=CoreFoundation</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>CoreFoundation</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40007390</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=CoreLocation</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>CoreLocation</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40009726</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=CoreMedia</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>CoreMedia</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40009724</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=CoreMotion</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>CoreMotion</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40009727</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=CoreTelephony</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>CoreTelephony</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40009695</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=EventKit</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>EventKit</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40007389</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=Foundation</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>Foundation</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008234</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=MobileCoreServices</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>MobileCoreServices</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008389</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=QuickLook</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>QuickLook</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40009626</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=SocialKit</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>SocialKit</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008233</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=StoreKit</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>StoreKit</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40007384</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=SystemConfiguration</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>SystemConfiguration</string>
						</dict>
					</array>
					<key>title</key>
					<string>Core Services Layer</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40008038</string>
					<key>href</key>
					<string>index.html#section=Frameworks&amp;topic=Core+OS+Layer</string>
					<key>isPart</key>
					<false/>
					<key>sections</key>
					<array>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008369</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=Accelerate</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>Accelerate</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008232</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=ExternalAccessory</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>ExternalAccessory</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40007377</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=Security</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>Security</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40007385</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=System</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>System</string>
						</dict>
					</array>
					<key>title</key>
					<string>Core OS Layer</string>
				</dict>
			</array>
			<key>title</key>
			<string>Frameworks</string>
		</dict>
	</array>
	<key>shouldDisplayTOC</key>
	<true/>
	<key>technology</key>
	<string></string>
	<key>title</key>
	<string>iOS Reference Library</string>
	<key>type</key>
	<string>Navigation</string>
</dict>
</plist>
