<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assignments</key>
	<array/>
	<key>needsAdditionalLinkSeparator</key>
	<false/>
	<key>relatedBooks</key>
	<array/>
	<key>sections</key>
	<array>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40009664</string>
			<key>href</key>
			<string>index.html#section=Resource+Types</string>
			<key>isPart</key>
			<false/>
			<key>sections</key>
			<array>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40009622</string>
					<key>href</key>
					<string>index.html#section=Resource+Types&amp;topic=Articles</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Articles</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40009619</string>
					<key>href</key>
					<string>index.html#section=Resource+Types&amp;topic=Getting+Started</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Getting Started</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40009615</string>
					<key>href</key>
					<string>index.html#section=Resource+Types&amp;topic=Guides</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Guides</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40009620</string>
					<key>href</key>
					<string>index.html#section=Resource+Types&amp;topic=Reference</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Reference</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40009613</string>
					<key>href</key>
					<string>index.html#section=Resource+Types&amp;topic=Release+Notes</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Release Notes</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40009616</string>
					<key>href</key>
					<string>index.html#section=Resource+Types&amp;topic=Sample+Code</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Sample Code</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40009614</string>
					<key>href</key>
					<string>index.html#section=Resource+Types&amp;topic=Technical+Notes</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Technical Notes</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40009617</string>
					<key>href</key>
					<string>index.html#section=Resource+Types&amp;topic=Technical+Q%26amp%3BAs</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Technical Q&amp;As</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40009624</string>
					<key>href</key>
					<string>index.html#section=Resource+Types&amp;topic=Video</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Video</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40009973</string>
					<key>href</key>
					<string>index.html#section=Resource+Types&amp;topic=Xcode+Tasks</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Xcode Tasks</string>
				</dict>
			</array>
			<key>title</key>
			<string>Resource Types</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40008336</string>
			<key>href</key>
			<string>index.html#section=Topics</string>
			<key>isPart</key>
			<false/>
			<key>sections</key>
			<array>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40008658</string>
					<key>href</key>
					<string>index.html#section=Topics&amp;topic=Apple+Applications</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Apple Applications</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40007356</string>
					<key>href</key>
					<string>index.html#section=Topics&amp;topic=Audio+%26amp%3B+Video</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Audio &amp; Video</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40008659</string>
					<key>href</key>
					<string>index.html#section=Topics&amp;topic=Cross+Platform</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Cross Platform</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40007359</string>
					<key>href</key>
					<string>index.html#section=Topics&amp;topic=Data+Management</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Data Management</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40008660</string>
					<key>href</key>
					<string>index.html#section=Topics&amp;topic=Drivers%2C+Kernel%2C+%26amp%3B+Hardware</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Drivers, Kernel, &amp; Hardware</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40008034</string>
					<key>href</key>
					<string>index.html#section=Topics&amp;topic=General</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>General</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40007368</string>
					<key>href</key>
					<string>index.html#section=Topics&amp;topic=Graphics+%26amp%3B+Animation</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Graphics &amp; Animation</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40008661</string>
					<key>href</key>
					<string>index.html#section=Topics&amp;topic=Interapplication+Communication</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Interapplication Communication</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40008351</string>
					<key>href</key>
					<string>index.html#section=Topics&amp;topic=Legacy</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Legacy</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40008662</string>
					<key>href</key>
					<string>index.html#section=Topics&amp;topic=Mathematical+Computation</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Mathematical Computation</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40008663</string>
					<key>href</key>
					<string>index.html#section=Topics&amp;topic=Networking%2C+Internet%2C+%26amp%3B+Web</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Networking, Internet, &amp; Web</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40007376</string>
					<key>href</key>
					<string>index.html#section=Topics&amp;topic=Performance</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Performance</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40007378</string>
					<key>href</key>
					<string>index.html#section=Topics&amp;topic=Security</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Security</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40008665</string>
					<key>href</key>
					<string>index.html#section=Topics&amp;topic=System+Administration</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>System Administration</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40008666</string>
					<key>href</key>
					<string>index.html#section=Topics&amp;topic=Tools+%26amp%3B+Languages</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>Tools &amp; Languages</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40007379</string>
					<key>href</key>
					<string>index.html#section=Topics&amp;topic=User+Experience</string>
					<key>isPart</key>
					<false/>
					<key>title</key>
					<string>User Experience</string>
				</dict>
			</array>
			<key>title</key>
			<string>Topics</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40008337</string>
			<key>href</key>
			<string>index.html#section=Frameworks</string>
			<key>isPart</key>
			<false/>
			<key>sections</key>
			<array>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40008667</string>
					<key>href</key>
					<string>index.html#section=Frameworks&amp;topic=Cocoa+Layer</string>
					<key>isPart</key>
					<false/>
					<key>sections</key>
					<array>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008370</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=AppKit</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>AppKit</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008714</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=PreferencePanes</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>PreferencePanes</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008715</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=ScreenSaver</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>ScreenSaver</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008716</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=SecurityInterface</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>SecurityInterface</string>
						</dict>
					</array>
					<key>title</key>
					<string>Cocoa Layer</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40008036</string>
					<key>href</key>
					<string>index.html#section=Frameworks&amp;topic=Media+Layer</string>
					<key>isPart</key>
					<false/>
					<key>sections</key>
					<array>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40007383</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=AudioToolbox</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>AudioToolbox</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40007395</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=AudioUnit</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>AudioUnit</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008075</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=AVFoundation</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>AVFoundation</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40007393</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=CoreAudio</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>CoreAudio</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40009169</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=CoreAudioKit</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>CoreAudioKit</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008717</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=CoreMIDI</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>CoreMIDI</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008718</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=CoreMIDIServer</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>CoreMIDIServer</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008719</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=DiscRecording</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>DiscRecording</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40009107</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=DiscRecordingUI</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>DiscRecordingUI</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008720</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=DVDPlayback</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>DVDPlayback</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008721</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=InstantMessage</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>InstantMessage</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008271</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=OpenAL</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>OpenAL</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008384</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=OpenGL</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>OpenGL</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008385</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=QTKit</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>QTKit</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008386</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=Quartz</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>Quartz</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40007386</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=QuartzCore</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>QuartzCore</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40009056</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=QuickTime</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>QuickTime</string>
						</dict>
					</array>
					<key>title</key>
					<string>Media Layer</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40008037</string>
					<key>href</key>
					<string>index.html#section=Frameworks&amp;topic=Core+Services+Layer</string>
					<key>isPart</key>
					<false/>
					<key>sections</key>
					<array>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40007397</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=AddressBook</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>AddressBook</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008371</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=ApplicationServices</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>ApplicationServices</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008723</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=Automator</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>Automator</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008724</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=CalendarStore</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>CalendarStore</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008373</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=Carbon</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>Carbon</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008725</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=Collaboration</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>Collaboration</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008375</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=CoreData</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>CoreData</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40007392</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=CoreFoundation</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>CoreFoundation</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40007390</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=CoreLocation</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>CoreLocation</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40009726</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=CoreMedia</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>CoreMedia</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008377</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=CoreServices</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>CoreServices</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40007389</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=Foundation</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>Foundation</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008382</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=InputMethodKit</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>InputMethodKit</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008383</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=InterfaceBuilderKit</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>InterfaceBuilderKit</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008726</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=JavaScriptCore</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>JavaScriptCore</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008727</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=LatentSemanticMapping</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>LatentSemanticMapping</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008728</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=MobileMe</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>MobileMe</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40009168</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=OpenDirectory</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>OpenDirectory</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008729</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=PublicationSubscription</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>PublicationSubscription</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008389</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=QuickLook</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>QuickLook</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008397</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=RubyCocoa</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>RubyCocoa</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008390</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=ScriptingBridge</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>ScriptingBridge</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40007377</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=Security</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>Security</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008731</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=SecurityFoundation</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>SecurityFoundation</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40009397</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=ServiceManagement</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>ServiceManagement</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008732</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=SyncServices</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>SyncServices</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008733</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=WebKit</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>WebKit</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008734</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=WebObjects</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>WebObjects</string>
						</dict>
					</array>
					<key>title</key>
					<string>Core Services Layer</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40008038</string>
					<key>href</key>
					<string>index.html#section=Frameworks&amp;topic=Core+OS+Layer</string>
					<key>isPart</key>
					<false/>
					<key>sections</key>
					<array>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008369</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=Accelerate</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>Accelerate</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008391</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=AGL</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>AGL</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008736</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=DirectoryService</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>DirectoryService</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008737</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=DiskArbitration</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>DiskArbitration</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008378</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=ExceptionHandling</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>ExceptionHandling</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40009054</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=OpenCL</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>OpenCL</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40007384</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=SystemConfiguration</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>SystemConfiguration</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008740</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=XgridFoundation</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>XgridFoundation</string>
						</dict>
					</array>
					<key>title</key>
					<string>Core OS Layer</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40008671</string>
					<key>href</key>
					<string>index.html#section=Frameworks&amp;topic=Kernel+%26amp%3B+Driver+Layer</string>
					<key>isPart</key>
					<false/>
					<key>sections</key>
					<array>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40009105</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=CoreWLAN</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>CoreWLAN</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008806</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=ForceFeedback</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>ForceFeedback</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008804</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=FWAUserLib</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>FWAUserLib</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40009055</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=ImageCaptureCore</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>ImageCaptureCore</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008741</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=IOBluetooth</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>IOBluetooth</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008742</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=IOBluetoothUI</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>IOBluetoothUI</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008743</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=IOKit</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>IOKit</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40008744</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=Kernel</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>Kernel</string>
						</dict>
						<dict>
							<key>aref</key>
							<string>//apple_ref/doc/uid/TP40007385</string>
							<key>href</key>
							<string>index.html#section=Frameworks&amp;topic=System</string>
							<key>isPart</key>
							<false/>
							<key>title</key>
							<string>System</string>
						</dict>
					</array>
					<key>title</key>
					<string>Kernel &amp; Driver Layer</string>
				</dict>
			</array>
			<key>title</key>
			<string>Frameworks</string>
		</dict>
	</array>
	<key>shouldDisplayTOC</key>
	<true/>
	<key>technology</key>
	<string></string>
	<key>title</key>
	<string>Xcode Reference Library</string>
	<key>type</key>
	<string>Navigation</string>
</dict>
</plist>
