<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PDF</key>
	<dict>
		<key>href</key>
		<string>iAd_ReferenceCollection.pdf</string>
	</dict>
	<key>assignments</key>
	<array>
		<string>Type/Reference</string>
		<string>Framework/Cocoa Touch Layer/iAd</string>
		<string>Topic/User Experience</string>
	</array>
	<key>needsAdditionalLinksSeparator</key>
	<false/>
	<key>relatedBooks</key>
	<array/>
	<key>sections</key>
	<array>
		<dict>
			<key>aref</key>
			<string></string>
			<key>href</key>
			<string>&lt;@@&gt;</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>Introduction</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40009562-CH1-SW1</string>
			<key>href</key>
			<string>&lt;@//apple_ref/doc/uid/TP40009562-CH1-SW1@&gt;</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>ADBannerView Class Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40010591-CH1-SW1</string>
			<key>href</key>
			<string>../../../iAd/Reference/ADInterstitialAd_Ref/Introduction/Introduction.html#//apple_ref/doc/uid/TP40010591-CH1-SW1</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>ADInterstitialAd Class Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40009581-CH1-SW3</string>
			<key>href</key>
			<string>../ADBannerViewDelegate_Ref/Reference/Reference.html#//apple_ref/doc/uid/TP40009581-CH1-SW3</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>ADBannerViewDelegate Protocol Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40010592-CH1-SW1</string>
			<key>href</key>
			<string>../../../iAd/Reference/ADInterstitialAdDelegate_Ref/Introduction/Introduction.html#//apple_ref/doc/uid/TP40010592-CH1-SW1</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>ADInterstitialAdDelegate Protocol Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40009705-CH99-SW1</string>
			<key>href</key>
			<string>RevisionHistory.html#//apple_ref/doc/uid/TP40009705-CH99-SW1</string>
			<key>isPart</key>
			<false/>
			<key>title</key>
			<string>Revision History</string>
		</dict>
	</array>
	<key>shouldDisplayTOC</key>
	<false/>
	<key>technology</key>
	<string></string>
	<key>title</key>
	<string>iAd Framework Reference</string>
	<key>type</key>
	<string>Collection</string>
	<key>uid</key>
	<string>TP40009705</string>
</dict>
</plist>
