<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PDF</key>
	<dict>
		<key>href</key>
		<string>EventKitUIFrameworkRef.pdf</string>
	</dict>
	<key>assignments</key>
	<array>
		<string>Type/Reference</string>
		<string>Framework/Cocoa Touch Layer/EventKitUI</string>
		<string>Topic/User Experience</string>
	</array>
	<key>needsAdditionalLinksSeparator</key>
	<false/>
	<key>relatedBooks</key>
	<array/>
	<key>sections</key>
	<array>
		<dict>
			<key>aref</key>
			<string></string>
			<key>href</key>
			<string>&lt;@@&gt;</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>Introduction</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40009571-CH1-DontLinkElementID_6</string>
			<key>href</key>
			<string>&lt;@//apple_ref/doc/uid/TP40009571-CH1-DontLinkElementID_6@&gt;</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>EKEventEditViewController Class Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40009572-CH1-DontLinkElementID_11</string>
			<key>href</key>
			<string>../EKEventViewControllerClassRef/Reference/Reference.html#//apple_ref/doc/uid/TP40009572-CH1-DontLinkElementID_11</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>EKEventViewController Class Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40009570-CH2-DontLinkElementID_10</string>
			<key>href</key>
			<string>../EKEventEditViewDelegateRef/Reference/Reference.html#//apple_ref/doc/uid/TP40009570-CH2-DontLinkElementID_10</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>EKEventEditViewDelegate Protocol Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40010299-CH2-DontLinkElementID_7</string>
			<key>href</key>
			<string>../EKEventViewDelegateProtocolRef/Reference/Reference.html#//apple_ref/doc/uid/TP40010299-CH2-DontLinkElementID_7</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>EKEventViewDelegate Protocol Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40009663-CH99-DontLinkElementID_2</string>
			<key>href</key>
			<string>RevisionHistory.html#//apple_ref/doc/uid/TP40009663-CH99-DontLinkElementID_2</string>
			<key>isPart</key>
			<false/>
			<key>title</key>
			<string>Revision History</string>
		</dict>
	</array>
	<key>shouldDisplayTOC</key>
	<false/>
	<key>technology</key>
	<string></string>
	<key>title</key>
	<string>Event Kit UI Framework Reference</string>
	<key>type</key>
	<string>Collection</string>
	<key>uid</key>
	<string>TP40009663</string>
</dict>
</plist>
