<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PDF</key>
	<dict>
		<key>href</key>
		<string>CoreTelephonyFrameworkReference.pdf</string>
	</dict>
	<key>assignments</key>
	<array>
		<string>Type/Reference</string>
		<string>Framework/Core Services Layer/CoreTelephony</string>
		<string>Topic/Networking &amp; Internet</string>
	</array>
	<key>needsAdditionalLinksSeparator</key>
	<false/>
	<key>relatedBooks</key>
	<array/>
	<key>sections</key>
	<array>
		<dict>
			<key>aref</key>
			<string></string>
			<key>href</key>
			<string>&lt;@@&gt;</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>Introduction</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40009590-CH1-DontLinkElementID_9</string>
			<key>href</key>
			<string>&lt;@//apple_ref/doc/uid/TP40009590-CH1-DontLinkElementID_9@&gt;</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>CTCall Class Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40009604-CH1-DontLinkElementID_7</string>
			<key>href</key>
			<string>../CTCallCenter/Reference/Reference.html#//apple_ref/doc/uid/TP40009604-CH1-DontLinkElementID_7</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>CTCallCenter Class Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40009596-CH1-DontLinkElementID_10</string>
			<key>href</key>
			<string>../CTCarrier/Reference/Reference.html#//apple_ref/doc/uid/TP40009596-CH1-DontLinkElementID_10</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>CTCarrier Class Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40009594-CH1-DontLinkElementID_7</string>
			<key>href</key>
			<string>../CTTelephonyNetworkInfo/Reference/Reference.html#//apple_ref/doc/uid/TP40009594-CH1-DontLinkElementID_7</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>CTTelephonyNetworkInfo Class Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40009603-CH99-DontLinkElementID_2</string>
			<key>href</key>
			<string>RevisionHistory.html#//apple_ref/doc/uid/TP40009603-CH99-DontLinkElementID_2</string>
			<key>isPart</key>
			<false/>
			<key>title</key>
			<string>Revision History</string>
		</dict>
	</array>
	<key>shouldDisplayTOC</key>
	<false/>
	<key>technology</key>
	<string></string>
	<key>title</key>
	<string>Core Telephony Framework Reference</string>
	<key>type</key>
	<string>Collection</string>
	<key>uid</key>
	<string>TP40009603</string>
</dict>
</plist>
