<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PDF</key>
	<dict>
		<key>href</key>
		<string>MessageUI_Framework_Reference.pdf</string>
	</dict>
	<key>assignments</key>
	<array>
		<string>Type/Reference</string>
		<string>Framework/Cocoa Touch Layer/MessageUI</string>
		<string>Topic/User Experience</string>
	</array>
	<key>needsAdditionalLinksSeparator</key>
	<false/>
	<key>relatedBooks</key>
	<array/>
	<key>sections</key>
	<array>
		<dict>
			<key>aref</key>
			<string></string>
			<key>href</key>
			<string>&lt;@@&gt;</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>Introduction</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40008200-CH1-SW3</string>
			<key>href</key>
			<string>&lt;@//apple_ref/doc/uid/TP40008200-CH1-SW3@&gt;</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>MFMailComposeViewController Class Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40009668-CH1-SW1</string>
			<key>href</key>
			<string>../MFMessageComposeViewController_class/Reference/Reference.html#//apple_ref/doc/uid/TP40009668-CH1-SW1</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>MFMessageComposeViewController Class Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40008201-CH1-SW1</string>
			<key>href</key>
			<string>../MFMailComposeViewControllerDelegate_protocol/Reference/Reference.html#//apple_ref/doc/uid/TP40008201-CH1-SW1</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>MFMailComposeViewControllerDelegate Protocol Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40009669-CH1-SW1</string>
			<key>href</key>
			<string>../MFMessageComposeViewControllerDelegate_protocol/Reference/Reference.html#//apple_ref/doc/uid/TP40009669-CH1-SW1</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>MFMessageComposeViewControllerDelegate Protocol Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40008274-CH99-SW1</string>
			<key>href</key>
			<string>RevisionHistory.html#//apple_ref/doc/uid/TP40008274-CH99-SW1</string>
			<key>isPart</key>
			<false/>
			<key>title</key>
			<string>Revision History</string>
		</dict>
	</array>
	<key>shouldDisplayTOC</key>
	<false/>
	<key>technology</key>
	<string></string>
	<key>title</key>
	<string>Message UI Framework Reference</string>
	<key>type</key>
	<string>Collection</string>
	<key>uid</key>
	<string>TP40008274</string>
</dict>
</plist>
