<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PDF</key>
	<dict>
		<key>href</key>
		<string>OpenGLES_Framework.pdf</string>
	</dict>
	<key>assignments</key>
	<array>
		<string>Type/Reference</string>
		<string>Framework/Media Layer/OpenGLES</string>
		<string>Topic/Graphics &amp; Animation/3D Drawing</string>
	</array>
	<key>needsAdditionalLinksSeparator</key>
	<false/>
	<key>relatedBooks</key>
	<array/>
	<key>sections</key>
	<array>
		<dict>
			<key>aref</key>
			<string></string>
			<key>href</key>
			<string>&lt;@@&gt;</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>Introduction</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40007624-CH3-SW3</string>
			<key>href</key>
			<string>&lt;@//apple_ref/doc/uid/TP40007624-CH3-SW3@&gt;</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>EAGLContext Class Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40007626-CH4-DontLinkElementID_2</string>
			<key>href</key>
			<string>../EAGLSharegroup_ClassRef/Reference/EAGLSharegroup.html#//apple_ref/doc/uid/TP40007626-CH4-DontLinkElementID_2</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>EAGLSharegroup Class Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40007664-CH3-DontLinkElementID_9</string>
			<key>href</key>
			<string>../../../iPhone/Reference/EAGLDrawable_Ref/EAGLDrawable/EAGLDrawable.html#//apple_ref/doc/uid/TP40007664-CH3-DontLinkElementID_9</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>EAGLDrawable Protocol Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40007627-DontLinkChapterID_1-DontLinkElementID_4</string>
			<key>href</key>
			<string>../EAGL_functions/Reference/reference.html#//apple_ref/doc/uid/TP40007627-DontLinkChapterID_1-DontLinkElementID_4</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>EAGL Functions Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40007628-CH2-DontLinkElementID_2</string>
			<key>href</key>
			<string>RevisionHistory.html#//apple_ref/doc/uid/TP40007628-CH2-DontLinkElementID_2</string>
			<key>isPart</key>
			<false/>
			<key>title</key>
			<string>Revision History</string>
		</dict>
	</array>
	<key>shouldDisplayTOC</key>
	<false/>
	<key>technology</key>
	<string>iPhone</string>
	<key>title</key>
	<string>OpenGL ES Framework Reference</string>
	<key>type</key>
	<string>Collection</string>
	<key>uid</key>
	<string>TP40007628</string>
</dict>
</plist>
