<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PDF</key>
	<dict>
		<key>href</key>
		<string>PreferencePanes_ObjC.pdf</string>
	</dict>
	<key>assignments</key>
	<array>
		<string>Type/Reference</string>
		<string>Framework/Cocoa Layer/PreferencePanes</string>
		<string>Topic/User Experience/Windows &amp; Views</string>
	</array>
	<key>needsAdditionalLinksSeparator</key>
	<false/>
	<key>relatedBooks</key>
	<array>
		<dict>
			<key>sections</key>
			<array>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/10000110i</string>
					<key>href</key>
					<string>../../../Conceptual/PreferencePanes/PreferencePanes.html#//apple_ref/doc/uid/10000110i</string>
					<key>title</key>
					<string>Preference Pane Programming Guide</string>
				</dict>
			</array>
			<key>title</key>
			<string>COMPANION GUIDE</string>
		</dict>
	</array>
	<key>sections</key>
	<array>
		<dict>
			<key>aref</key>
			<string></string>
			<key>href</key>
			<string>&lt;@@&gt;</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>Introduction</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40003970-CH3-DontLinkElementID_12</string>
			<key>href</key>
			<string>&lt;@//apple_ref/doc/uid/TP40003970-CH3-DontLinkElementID_12@&gt;</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>NSPreferencePane Class Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/20001560-DontLinkElementID_2</string>
			<key>href</key>
			<string>RevisionHistory.html#//apple_ref/doc/uid/20001560-DontLinkElementID_2</string>
			<key>isPart</key>
			<false/>
			<key>title</key>
			<string>Revision History</string>
		</dict>
	</array>
	<key>shouldDisplayTOC</key>
	<false/>
	<key>technology</key>
	<string>Cocoa</string>
	<key>title</key>
	<string>Preference Panes Framework Reference</string>
	<key>type</key>
	<string>Collection</string>
	<key>uid</key>
	<string>20001823</string>
</dict>
</plist>
