<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PDF</key>
	<dict>
		<key>href</key>
		<string>CoreAudioKit_FrameworkReference.pdf</string>
	</dict>
	<key>assignments</key>
	<array>
		<string>Type/Reference</string>
		<string>Framework/Media Layer/CoreAudioKit</string>
		<string>Topic/Audio &amp; Video/Audio</string>
	</array>
	<key>needsAdditionalLinksSeparator</key>
	<false/>
	<key>relatedBooks</key>
	<array/>
	<key>sections</key>
	<array>
		<dict>
			<key>aref</key>
			<string></string>
			<key>href</key>
			<string>&lt;@@&gt;</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>Introduction</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40009085-CH1-DontLinkElementID_13</string>
			<key>href</key>
			<string>&lt;@//apple_ref/doc/uid/TP40009085-CH1-DontLinkElementID_13@&gt;</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>AUGenericView Class Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40009084-CH1-DontLinkElementID_9</string>
			<key>href</key>
			<string>../../../MusicAudio/Reference/AUPannerView_ClassReference/Reference/Reference.html#//apple_ref/doc/uid/TP40009084-CH1-DontLinkElementID_9</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>AUPannerView Class Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40009086-CH1-DontLinkElementID_5</string>
			<key>href</key>
			<string>../../../MusicAudio/Reference/AUCustomViewPersistentData_ProtocolReference/Reference/Reference.html#//apple_ref/doc/uid/TP40009086-CH1-DontLinkElementID_5</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>AUCustomViewPersistentData Protocol Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40009097-CH2-SW1</string>
			<key>href</key>
			<string>RevisionHistory.html#//apple_ref/doc/uid/TP40009097-CH2-SW1</string>
			<key>isPart</key>
			<false/>
			<key>title</key>
			<string>Revision History</string>
		</dict>
	</array>
	<key>shouldDisplayTOC</key>
	<false/>
	<key>technology</key>
	<string>Audio</string>
	<key>title</key>
	<string>Core Audio Kit Framework Reference</string>
	<key>type</key>
	<string>Collection</string>
	<key>uid</key>
	<string>TP40009097</string>
</dict>
</plist>
