<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PDF</key>
	<dict>
		<key>href</key>
		<string>CoreImageRef.pdf</string>
	</dict>
	<key>assignments</key>
	<array>
		<string>Type/Reference</string>
		<string>Framework/Media Layer/QuartzCore</string>
		<string>Topic/Graphics &amp; Animation/2D Drawing</string>
	</array>
	<key>needsAdditionalLinksSeparator</key>
	<false/>
	<key>relatedBooks</key>
	<array>
		<dict>
			<key>sections</key>
			<array>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP30001185</string>
					<key>href</key>
					<string>../../Conceptual/CoreImaging/ci_intro/ci_intro.html#//apple_ref/doc/uid/TP30001185</string>
					<key>title</key>
					<string>Core Image Programming Guide</string>
				</dict>
				<dict>
					<key>aref</key>
					<string>//apple_ref/doc/uid/TP40004531</string>
					<key>href</key>
					<string>../../Conceptual/ImageUnitTutorial/Introduction/Introduction.html#//apple_ref/doc/uid/TP40004531</string>
					<key>title</key>
					<string>Image Unit Tutorial</string>
				</dict>
			</array>
			<key>title</key>
			<string>COMPANION GUIDES</string>
		</dict>
	</array>
	<key>sections</key>
	<array>
		<dict>
			<key>aref</key>
			<string></string>
			<key>href</key>
			<string>&lt;@@&gt;</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>Introduction</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40001309-BCIHFHHB</string>
			<key>href</key>
			<string>&lt;@//apple_ref/doc/uid/TP40001309-BCIHFHHB@&gt;</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>CIColor Class Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40001310-BCIHFHHB</string>
			<key>href</key>
			<string>../QuartzCoreFramework/Classes/CIContext_Class/Reference/Reference.html#//apple_ref/doc/uid/TP40001310-BCIHFHHB</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>CIContext Class Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40003960-RH2-BCIHFHHB</string>
			<key>href</key>
			<string>../QuartzCoreFramework/Classes/CIFilter_Class/Reference/Reference.html#//apple_ref/doc/uid/TP40003960-RH2-BCIHFHHB</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>CIFilter Class Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40004493-CH1-DontLinkElementID_9</string>
			<key>href</key>
			<string>../CIFilter_CA_Additions/Introduction/Introduction.html#//apple_ref/doc/uid/TP40004493-CH1-DontLinkElementID_9</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>CIFilter Core Animation Additions</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40004667-CH3-BCIHFHHB</string>
			<key>href</key>
			<string>../IKFilterUIAddition/IKFIlterUI_Reference.html#//apple_ref/doc/uid/TP40004667-CH3-BCIHFHHB</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>CIFilter Image Kit Additions</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40004671-CH3-BCIHFHHB</string>
			<key>href</key>
			<string>../CIFilterGenerator_Class/Reference/Reference.html#//apple_ref/doc/uid/TP40004671-CH3-BCIHFHHB</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>CIFilterGenerator Class Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40001312-BCIHFHHB</string>
			<key>href</key>
			<string>../QuartzCoreFramework/Classes/CIFilterShape_Class/Reference/Reference.html#//apple_ref/doc/uid/TP40001312-BCIHFHHB</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>CIFilterShape Class Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40006665-BCIHFHHB</string>
			<key>href</key>
			<string>../QuartzCoreFramework/Classes/CIImage_Class/Reference/Reference.html#//apple_ref/doc/uid/TP40006665-BCIHFHHB</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>CIImage Class Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40003963-CH4g-BCIHFHHB</string>
			<key>href</key>
			<string>../QuartzCoreFramework/Classes/CIImageAccumulator_Class/Reference/Reference.html#//apple_ref/doc/uid/TP40003963-CH4g-BCIHFHHB</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>CIImageAccumulator Class Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40001314-BCIHFHHB</string>
			<key>href</key>
			<string>../QuartzCoreFramework/Classes/CIKernel_Class/Reference/Reference.html#//apple_ref/doc/uid/TP40001314-BCIHFHHB</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>CIKernel Class Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40001315-BCIHFHHB</string>
			<key>href</key>
			<string>../QuartzCoreFramework/Classes/CIPlugIn_Class/Reference/Reference.html#//apple_ref/doc/uid/TP40001315-BCIHFHHB</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>CIPlugIn Class Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40001316-BCIHFHHB</string>
			<key>href</key>
			<string>../QuartzCoreFramework/Classes/CISampler_Class/Reference/Reference.html#//apple_ref/doc/uid/TP40001316-BCIHFHHB</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>CISampler Class Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40001317-BCIHFHHB</string>
			<key>href</key>
			<string>../QuartzCoreFramework/Classes/CIVector_Class/Reference/Reference.html#//apple_ref/doc/uid/TP40001317-BCIHFHHB</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>CIVector Class Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40003968-CH5g-BCIHFHHB</string>
			<key>href</key>
			<string>../QuartzCoreFramework/Protocols/CIImageProvider_Protocol/Reference/Reference.html#//apple_ref/doc/uid/TP40003968-CH5g-BCIHFHHB</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>CIImageProvider Protocol Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40001318-BCIBCDJC</string>
			<key>href</key>
			<string>../QuartzCoreFramework/Protocols/CIPlugInRegistration_Protocol/Reference/Reference.html#//apple_ref/doc/uid/TP40001318-BCIBCDJC</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>CIPlugInRegistration Protocol Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40004346-DontLinkChapterID_1-DontLinkElementID_2</string>
			<key>href</key>
			<string>../CoreImageFilterReference/Reference/reference.html#//apple_ref/doc/uid/TP40004346-DontLinkChapterID_1-DontLinkElementID_2</string>
			<key>sections</key>
			<array/>
			<key>title</key>
			<string>Core Image Filter Reference</string>
		</dict>
		<dict>
			<key>aref</key>
			<string>//apple_ref/doc/uid/TP40001171-RH1-DontLinkElementID_1</string>
			<key>href</key>
			<string>History/History.html#//apple_ref/doc/uid/TP40001171-RH1-DontLinkElementID_1</string>
			<key>isPart</key>
			<false/>
			<key>title</key>
			<string>Revision History</string>
		</dict>
	</array>
	<key>shouldDisplayTOC</key>
	<false/>
	<key>technology</key>
	<string>Graphics &amp; Imaging</string>
	<key>title</key>
	<string>Core Image Reference Collection</string>
	<key>type</key>
	<string>Collection</string>
	<key>uid</key>
	<string>TP40001171</string>
</dict>
</plist>
